__pycache__/
*.pyc

demo_agent.py
init_db.py
test_system.py
tables.py
bugs.txt
test.py
debug.py


# Celery beat schedule
celerybeat-schedule*
*.bak
*.dir
*.dat


*.env

.venv/
influxdb-data/

*.db

.coverage
docs/
server_db/demo_seed.py